<!DOCTYPE html>
<html>
  <head>
    <title>Delete Reports</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <!-- CONTENT -->
    <div style="float: left; width:80%">
      <h1>Delete Reports</h1>
      <!-- list of all user's reports -->
      <form>
        <label for="reports">Choose a Report</label><br>
        <input list="reports" name="reports" required>
        <datalist id="reports">
          <option value="Sample Report: Issue and Location">
        </datalist><br><br>
        <input type="submit" value="Delete Report">
    </form>
      <!-- Select and remove report from database/array -->
    </div>
  </body>
</html>