<!DOCTYPE html>
<html>

<head>
    <title>Cypress</title>
</head>

<body>
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <div style="float: left; width:80%">
        <h1>Frequently Asked Questions</h1>
        <h3>What is CYPRESS?
            <hr>
        </h3>
        <p>Answer 1.</p>
        <br>
        <h3>Question 2?
            <hr>
        </h3>
        <p>Answer 2.</p>
        <br>
        <h3>Question 3?
            <hr>
        </h3>
        <p>Answer 3.</p>
        <br>
    </div>
</body>

</html>