<!DOCTYPE html>
<html>

<head>
    <title>Tell A Friend</title>
</head>

<body>
    <!-- SIDEBAR -->
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <!-- CONTENT -->
    <div style="float: left; width:80%">
        <form method="post" name="eMailer">
            Tell a friend:
            <input type="text" name="email" size="26" value="     Enter Address Here">
            <br />
            <input type="button" value="Send this URL"
                onMouseOver="window.status='Click to send an email (with this page address) to a friend! Enter email address above...'; return true"
                onMouseOut="window.status='';return true" onClick="mailThisUrl();">
        </form>
        <script src="../js/tell_a_friend.js"></script>
    </div>
</body>

</html>