* {
    box-sizing: border-box;
}

@font-face {
    font-family: FreeSans;
    src: url(/fonts/FreeSans.ttf);
}

html {
    height: 100%;
    font-family: FreeSans, sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-weight: normal;
}

hr.yellow {
    border-color: #EC9F09;
}

.header {
    display: block;
    background-color: #003651;
    position: -webkit-sticky;
    top: 0px;
    color: white;
}

#header_title {
    color: white;
}

#welcome_text {
    text-align: center;
}

.login {
    display: block;
    margin: auto;
    width: 35%;
    text-align: left;
}

.cred-block {
    padding-top: 10px;
}

.cred {
    width: 100%;
    font-size: 0.8em;
    padding: 0.5em;
}

.footer {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #003651;
    color: white;
    flex-shrink: 0;
    text-align: center;
}

.footer_top {
    text-align: left;

}

.left_footer_text {
    float: right;
}

a.footer_link:link {
    color: #EC9F09;
}

a.footer_link:visited {
    color: #ccdee7;
}

a.footer_link:hover {
    color: #C78608;
}



@media screen and (max-width: 44em) {
    .login {
        width: 90%;
    }

    .cred {
        width: 100%;
    }

    .footer_top {
        text-align: center;
    }

    .left_footer_text {
        float: unset;
    }
}

/* Button */
button[type=submit] {
    background-color: #EC9F09;
    border: #EC9F09;
    color: #00121B;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: FreeSans;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
}

button[type=submit]:hover{
    background-color: #C78608;
    cursor: pointer;
}

button[type=submit]:active{
    background-color: #C78608;
    border: #000;
    border-width: 3px;
    font-weight: bold;
}

button.secondary {
    background-color: #004B84;
    border: #004B84;
    color: #ffffff;
    margin: 10px 10px 10px 0px;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: FreeSans;
    border-radius: 10px;
}

button.secondary:hover {
    background-color: #003651;
    border: #003651;
    border-width: 3px;
    cursor: pointer;
}

button.secondary:active {
    background-color: #004B84;
    border: #00121B;
    border-width: 3px;
    font-weight: bold;
}

button.tert {
    background-color: #ffffff;
    border-color: #004B84;
    color: #00121B;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: FreeSans;
    border-radius: 10px;
    border-width: 1px;
}

button.tert:hover {
    background-color: #A5A5A6;
    border-color: #003651;
    border-width: 1px;
    cursor: pointer;
}

button.tert:active {
    background-color: #ffffff;
    border-color: #004B84;
    border-width: 1px;
    font-weight: bold;
}

button.delete {
    background-color: #8e0000;
    border-color: #8e0000;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: FreeSans;
    border-radius: 10px;
    border-width: 1px;
}

button.delete:hover {
    background-color: #380000;
    border-color: #380000;
    cursor: pointer;
}

button.delete:active {
    background-color: #a43232;
    border-color: #a43232;
    font-weight: bold;
}