{% extends 'navbar.html' %}
{% block customstyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}
{% block content %}
    <h1>Contact Us</h1>

    <h3>Head<hr></h3>
    <p><b>Dr. Dolittle</b></p>
    <p><b>Email: </b><a href="mailto:dolittle@cypress.ca">dolittle@cypress.ca</a></p>
    <p><b>Phone: </b>(000) 000-0000</p>
    <p>For urgent matters only.</p>

    <h3>CYPRESS Leads<hr></h3>
    <div class='ta-div'>
        <div class='ta1'>
            <p><b>Ming Zhu Kong</b></p>
            <p><b>Email: </b><a href="mailto:mzk@cypress.ca">mzk@cypress.ca</a></p>
            <p><b>Phone: </b>(111) 111-1111</p>
            <p>For report inquiries and report status.</p>
        </div>

    </div>
    
{% endblock %}