{% extends 'navbar.html' %}
{% block content %}
    <h1>Report a Problem</h1>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJx9RD25O9Xj8a2etlzwSRui0Zy56Ukuw&libraries=places">
    </script>
    <input class="input-controls" id="searchInput" type="text" placeholder="Enter a location">
    <div class="map" id="map" style="width: 100%; height: 500px;"></div><br>
        <form method="POST">
            <!--note to self: add distinction between input vs. read-only fields-->
            <!--note to self: cred-block div + cred for css styling WIP-->
            <div class="cred-block" id="email-block">
                <b>Address </b><br>
                <input type="text" name="address" id="address" class="cred" required readonly>
            </div>
            <small id="address_error"></small>
            <div class="cred-block" id="issue-block">
                <b>Select Issue Type</b><br>
                <select name="issue_type" id="issues" required>
                    <option value="">Select an issue type...</option>
                    <option value="Utility Failures">Utility Failures</option>
                    <option value="Potholes">Potholes</option>
                    <option value="City Property Vandalism">City Property Vandalism</option>
                    <option value="Eroded Streets">Eroded Streets</option>
                    <option value="Tree Collapse">Tree Collapse</option>
                    <option value="Flooded Streets">Flooded Streets</option>
                    <option value="Mould and Spore Growth">Mould and Spore Growth</option>
                    <option value="Garbage or any other Road Blocking Objects">Garbage or any other Road Blocking Objects</option>
                </select>
            </div>
                <b>Additional Details (optional)</b><br>
                <textarea rows="3" cols="30" name="additional" id="additional" class="cred"></textarea>
            <button type="button" class="primary" value="Store Details" onClick="storeRecipe()">Submit Report</button>
            <br><br>
            <script src='{{ url_for('static', filename='js/create_report.js') }}'></script>
        </form>
    </div>
    <style type="text/css">
        .input-controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
  
        #searchInput {
          background-color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 50%;
        }
  
        #searchInput:focus {
          border-color: #4d90fe;
        }
      </style>
{% endblock %}