{% extends 'navbar.html' %}
{% block content %}
    <h1>Edit Existing Reports</h1>
    <!--User should only be able to edit their own reports-->
    <!--HOWEVER! Users should be able to suggest solutions for ALL reports (see: suggestions)-->
  <form method="POST">
    <table>
      <tr>
        <th></th>
        <th>Address</th>
        <th>Type of Problem at Site</th>
        <th>Additional Details</th>
        <th>Report Status</th>
        <th>Solutions</th>
      </tr>
      {% for report in user_reports %}
        <tr>
          <td><input type="radio" name="select_report" value={{ report[0] }} required></td>
          <td>{{ report[1] }}</td>
          <td>{{ report[2] }}</td>
          <td>{{ report[3] }}</td>
          <td>{{ report[5].upper() }}</td>
          <td>{{ report[6] }}</td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" value="submit" id="edit_button">Edit Selected Report</button>
  </form>

{% endblock %}