{% extends 'navbar.html' %} {% block content %}
<h1>Frequently Asked Questions</h1>
<h3>What is CYPRESS?
    <hr>
</h3>
<p>CYPRESS is a system that allows citizens to report problems regarding infrastructure that they notice on the street. Users can view, submit and track issue reports in the City of Toronto.</p>
<br>
<h3>Who made CYPRESS?
    <hr>
</h3>
<p>The idea of CYPRESS was conceptualized by the City of Toronto. However, in 2021, under the leadership of esteemed Ryerson University Professor Vojislav B. Mišić and a group of very (very, very!) intelligent Ryerson students modernised CYPRESS for a course project.</p>
<br>
<h3>Where can I learn more about CYPRESS?
    <hr>
</h3>
<p>You can learn more about CYPRESS
    <a href="https://www.toronto.ca/" target="_blank">here</a></p>
{% endblock %}