{% extends 'login.html' %}
{% block login %}

{% if (found == False) and (success == False) %}
    <h1>Forgot password?</h1>
    <h3>Please enter your email address. After successfully answering a security question, we will email your password to you.</h3><br> 
    <!--Ask for email-->
    <form method="POST" id="ask_email">
        <div class="cred-block" id='email-block'>
            <p>{{ error }}</p>
            <b>Email</b><br>
            <input name="email" id="email" class="cred" required>
        </div>
        <button type="submit" value="submit" id="submit">Next</button>
    </form>
    <p><a href="login">Back to Login</a></p>
    <p>Don't have a CYPRESS account? <a href="register">Register</a></p>

{% elif (found == True) and (success == False) %}
    {{ wrong_ans }}
    <h3>Please answer the following security question:</h3>
    <!--Ask for security question-->
    <form method="POST" id="ask_security_q">
        <!--Pick a random security question to verify user-->
        <div class="cred-block" id='security_q'>
            <b>{{ question }}</b><br>
            <input name="security_a" id="security_a" class="cred" placeholder="Type you answer here..." required>
        </div>
        <button type="submit" value="submit" id="submit">Submit</button>
    </form>
    <p><a href="login">Back to Login</a></p>

{% elif (success == True) %}
    <h1>Success!</h1>
    <h3>Your password has been successfully sent to your email! Please login with your credentials.</h3><br>
    <p><a href="login">Back to Login</a></p>

{% endif %}

{% endblock %}

