{% extends 'navbar.html' %}
{% block content %}
    <h1>Welcome to CYPRESS!</h1>
    <h3>About CYPRESS</h3>
    <hr>
    <p>CYPRESS is tailored towards people who value their environment and want to make it a better and safer place for others. CYPRESS is designed to allow citizens to report 
        problems that concern them about their city that they notice on the streets. Users can view, submit and track reports about issues pertaining to the City of Toronto. 
        CYPRESS provides a user-friendly map that lets you pinpoint the exact problem that they are reporting. CYPRESS acts as a direct link between the CYTRSO: City of Toronto 
        Road Safety Officials and the residents of Toronto.
    </p>
    <img src="{{ url_for('static', filename='content/nathan_p.jpg') }}" class="responsive_photo">
    <br>


    <style>
        .responsive_photo {
            padding: 3%;
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}