<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>CYPRESS</title>

</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='content/toronto_logo_white.png') }}">
        <h1 id="header_title">CYPRESS</h1>
    </div>

    <div class="login">
        {% block login %}
            <h4 id="welcome_text">Welcome to the City of Toronto's Problem Reporting and Solution System, CYPRESS!</h4>
            <h4 id="welcome_text">To start, please login or register.</h4>
            <h1>Login</h1>
            <p><b>{{ error }}</b></p>
            <p>{{ confirmation }}</p>
            <form method="post">
                <div class="cred-block" id="email-block">
                    <b>Email Address</b><br>
                    <input name="email" id="email" placeholder ="johnsmith@cypress.ca" class="cred" required>
                </div>
                <div class="cred-block" id="pw-block">
                    <b>Password</b><br>
                    <input type="password" name="password" id="password" class="cred" required>
                </div>

                <button type="submit" value="submit">Login</button>
            </form>
            <p><a href="forgot_password">Forgot password?</a></p>
            <p>Don't have a CYPRESS account? <a href="register">Register</a></p>
        {% endblock %}
    </div>

    <div class="footer"> <!--New Footer tbd-->
        <p class="footer_top">
            <a href='https://www.toronto.ca/' class='footer_link' target="_blank">City of Toronto 1998-2021</a>
            <span class="left_footer_text"><a href="/static/content/privacy.pdf" target="_blank" class="footer_link">Privacy Policy</a> | <a href="/static/content/TnC.pdf" target="_blank" class="footer_link">Terms of Service</a></span>
        </p>
        <hr class='yellow'>
        CYPRESS Site design by Group p2new_49 | CPS406, Iteration 2 
    </div>
</body>
{% block script %}{% endblock %}
</html>
