<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block customstyles %}
    {% endblock %}
        
    {% if title %}
        <title>{{ title }}CYPRESS</title>
    {% else %}
        <title>CYPRESS</title>
    {% endif %}

</head>
<body>
    <div class="main-columns">
        <div class="column" id="nav-col">
            <nav role="dropdown">
                <input type="checkbox" id="nav-hamburger">
                <label for="nav-hamburger" onclick></label>
                <div class="nav-header">
                    <!--City of Toronto Image in top left-->
                    <h2 id="tagline">CYPRESS</h2>
                </div>
                <ul class="links">
                    <li><a href="home">Home</a></li>
                    <li><a href="create_report">Create a Report</a></li>
                    <li><a href="edit_report">Edit Reports</a></li>
                    <li><a href="suggestions">Suggestions</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="contact_us">Contact Us</a></li>
                    <li><a href="tell_a_friend">Tell a Friend</a></li>
                    <!--insert modal for popup confirmation-->
                    <li><a href="logout">Log Out</a></li> 
                    
                </ul>
            </nav>
        </div>
    
        <div class="column" id="content-col">
            <div class="login-status">
                Hello, <b>John Smith</b>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
    </div>
</body>
{% block script %}{% endblock %}
</html>
