{% extends 'login.html' %}
{% block login %}

{% if (register_passed == False) %}
    <h1>Register</h1>
    <p>{{ error }}</p>
    <form method="post">
        <div class="cred-block" id="user-block">
            <b>Full Name</b><br>
            <input name="fullname" id="fullname" class="cred" required> 
        </div>
        <small>eg: John Smith</small>
        <div class="cred-block" id="email-block">
            <b>E-mail Address</b><br>
            <input type="email" name="email" id="email" class="cred" required>
        </div>
        <div class="cred-block" id="password-block">
            <b>Password</b>
            <input type="password" name="password" id="password" class="cred" required>
            <small>Please use a secure password between 6-16 characters in length, with at least one number and one special symbol.</small>
        </div>
        <div class="cred-block" id="address-1-block">
            <b>Address Line 1</b><br>
            <input name="address-1" id="address-1" class="cred" required>
        </div>
        <small>Street address or P.O. box</small>
        <div class="cred-block" id="address-2-block">
            <b>Address Line 2</b>
            <input name="address-2" id="address-2" class="cred">
        </div>
        <small>Apartment, suite, unit, building, floor, etc.</small>
        <div class="cred-block" id="postal-block">
            <b>Postal Code</b><br>
            <input name="postal" id="postal" class="cred" required>
        </div>
        <small>eg: A1A 1A1</small>
        <div class="cred-block" id="phone-number-block">
            <b>Phone Number</b><br>
            <input name="phone-number" id="phone-number" class="cred" required>
        </div>
        <br>
        <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required>
        <label for="terms-and-conditions">I agree to the <a href="/static/content/TnC.pdf" target="_blank">Terms and Conditions</a></label>
        <br>
        <button type="submit" value="submit" id="submit">Register</button>

    </form>
    <p><a href="forgot_password">Forgot password?</a></p>
    <p>Have an account? <a href="login">Login</a></p>
{% else %}
    <h1>Setup Security Questions</h1>
    <h3>
        Account successfully registered! <p>In order to keep your CYPRESS account safe and in the event that you forget your password or if you wish to delete 
        your account, please select three security questions and provide security answers that are easy to remember.</p>
    </h3>
    <form method="POST">
        <p><select class="security" name="security1" required>
            <option disabled selected value>Select a security question...</option>
            <option value="1">What is your mother's maiden name?</option>
            <option value="2">What is the name of your elementary school?</option>
            <option value="3">What the name of your first pet?</option>
            <option value="4">What was your first car?</option>
            <option value="5">What is the name of the town you were born?</option>
        </select>
        <input name="security_answer_1" id="security_answer_1" class="cred" required></p>

        <p><select class="security" name="security2" required>
            <option disabled selected value>Select a security question...</option>
            <option value="1">What is your mother's maiden name?</option>
            <option value="2">What is the name of your elementary school?</option>
            <option value="3">What the name of your first pet?</option>
            <option value="4">What was your first car?</option>
            <option value="5">What is the name of the town you were born?</option>
        </select>
        <input name="security_answer_2" id="security_answer_2" class="cred" required></p>

        <p><select class="security" name="security3" required>
            <option disabled selected value>Select a security question...</option>
            <option value="1">What is your mother's maiden name?</option>
            <option value="2">What is the name of your elementary school?</option>
            <option value="3">What the name of your first pet?</option>
            <option value="4">What was your first car?</option>
            <option value="5">What is the name of the town you were born?</option>
        </select>
        <input name="security_answer_3" id="security_answer_3" class="cred" required></p>
        <button type="submit" value="submit" id="submit">Submit</button>
    </form>
{% endif %}    
    <script>
        $(function () {
        // a bit of caching:
        var sec = $('.security');
        sec.change(function () {
            sec.find('option').show().end().each(function(){
                $('option[value="'+$(this).val()+'"]:not(:selected):not([value="0"])', sec).hide();
            });
        }).change();
        });
    </script>
{% endblock %}
{% block script %}
    <script src='{{ url_for('static', filename='js/register.js') }}'></script>
{% endblock %}