{% extends 'login.html' %}
{% block login %}
    <h1>Register</h1>
    <p>{{ error }}</p>
    <form method="post">
        <div class="cred-block" id="user-block">
            <b>Full Name</b><br>
            <input name="fullname" id="fullname" class="cred" required> 
        </div>
        <small>eg: John Smith</small>
        <div class="cred-block" id="email-block">
            <b>E-mail Address</b><br>
            <input type="email" name="email" id="email" class="cred" required>
        </div>
        <div class="cred-block" id="password-block">
            <b>Password</b>
            <input name="password" id="password" class="cred" required>
            <small>Please use a secure password between 6-16 characters in length, with at least one number and one special symbol.</small>
        </div>
        <div class="cred-block" id="repeat-password-block">
            <b>Repeat Password</b><br>
            <input name="password-check" id="password-check" class="cred" required>
        </div>
        <div class="cred-block" id="address-1-block">
            <b>Address Line 1</b><br>
            <input name="address-1" id="address-1" class="cred" required>
        </div>
        <small>Street address or P.O. box</small>
        <div class="cred-block" id="address-2-block">
            <b>Address Line 2</b>
            <input name="address-2" id="address-2" class="cred">
        </div>
        <small>Apartment, suite, unit, building, floor, etc.</small>
        <div class="cred-block" id="postal-block">
            <b>Postal Code</b><br>
            <input name="postal" id="postal" class="cred" required>
        </div>
        <small>eg: A1A 1A1</small>
        <div class="cred-block" id="phone-number-block">
            <b>Phone Number</b><br>
            <input name="phone-number" id="phone-number" class="cred" required>
        </div>
        <br>
        <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required>
        <label for="terms-and-conditions">I agree to the <a href="/static/content/terms_and_conditions.pdf" target="_blank">Terms and Conditions</a></label>
        <br>
        <button type="submit" value="submit" id="submit">Register</button>

    </form>
    <p><a href="forgot_password">Forgot password?</a></p>
    <p>Have an account? <a href="login">Login</a></p>
{% endblock %}
{% block script %}
    <script src='{{ url_for('static', filename='js/register.js') }}'></script>
{% endblock %}