{% extends 'navbar.html' %} {% block customstyles %}

<body>
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <div style="float: left; width:80%">
        <link rel="stylesheet" href="css/team.css"> {% endblock %} {% block content %}
        <h1>Contact Us</h1>

        <h3>Head
            <hr>
        </h3>
        <p><b>Dr. Dolittle</b></p>
        <p><b>Email: </b><a href="mailto:dolittle@cypress.ca">dolittle@cypress.ca</a></p>
        <p><b>Phone: </b>(000) 000-0000</p>
        <p>For urgent matters only.</p>

        <h3>CYPRESS Leads
            <hr>
        </h3>
        <div class='ta-div'>
            <div class='ta1'>
                <p><b>Ming Zhu Kong</b></p>
                <p><b>Email: </b><a href="mailto:mzk@cypress.ca">mzk@cypress.ca</a></p>
                <p><b>Phone: </b>(111) 111-1111</p>
                <p>For report inquiries and report status.</p>
            </div>

        </div>
    </div>
</body>
{% endblock %}