<!DOCTYPE html>
<html>

<head>
    <title>Display Stuff</title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJx9RD25O9Xj8a2etlzwSRui0Zy56Ukuw&libraries=places"></script>
</head>

<body>
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <div style="float: left; width:80%">
        <h1>View All Issues</h1>
        <div class="map" id="map" style="width: 90%; height: 500px;"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <br>
        <div id="container"></div>
        <!-- -->
        <style>
            table,
            th,
            td {
                border: 1px solid black;
            }
        </style>

        <script src=" ../static/js/display_map.js"></script>
</body>

</html>