{% extends 'navbar.html' %} {% block content %}

<body>
    <nav style="float: left; width:20%">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create_report.html">Create a Report</a></li>
            <li><a href="edit_report.html">Edit Reports</a></li>
            <li><a href="display_map.html">View All Reports</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="user_settings.html">User Settings</a></li>
            <li><a href="tell_a_friend.html">Tell a Friend</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <div style="float: left; width:80%">
        <h1>Frequently Asked Questions</h1>
        <h3>What is CYPRESS?
            <hr>
        </h3>
        <p>CYPRESS is a system that is designed to allow citizens to report problems that concern them about their city that they notice on the streets. Users can view, submit and track reports about issues pertaining to the City of Toronto. </p>
        <br>
        <h3>Who made CYPRESS?
            <hr>
        </h3>
        <p>The idea of CYPRESS was incepted by the City of Toronto. However in 2021, under the leadership of esteemed Ryerson University Professor Dr Vojislav B. Mišić, a group of very (very, very) intelligent Ryerson Students modernised CYPRESS for a Project
        </p>
        <br>
        <h3>Where can I know more about CYPRESS?
            <hr>
        </h3>
        <p>You can know more about CYPRESS
            <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">here</a></p>
        {% endblock %}
    </div>
</body>