{% extends 'navbar.html' %}
{% block content %}
    <h1>Tell a Friend</h1>
    <h3>If you would like to share CYPRESS with a friend, please enter their email.</h3>
    <form method="post" name="eMailer">
        Tell a friend:
        <input type="text" name="email" size="26" value="     Enter Address Here">
        <br />
        <input type="button" value="Send this URL"
            onMouseOver="window.status='Click to send an email (with this page address) to a friend! Enter email address above...'; return true"
            onMouseOut="window.status='';return true" onClick="mailThisUrl();">
    </form>
    <script src='{{ url_for('static', filename='js/tell_a_friend.js') }}'></script>
{% endblock %}